form {
    padding-top: 15px;
    margin-left: 35px;
    font-weight: bold;
}

label {
    padding-left: 15px;
    padding-top: 10px;
    color: #9e579d;
}

button {
    height: 25px;
    width: 100px;
    border: 1px solid #9e579d;
    border-radius: 4px;
    box-shadow: 2px 2px 5px #3f3b3b;
    font-family: Tahoma;
    font-weight: bold;
    background: #9e579d;
    margin-left: 30px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

button:hover{
    background-color: #80447e;
}

label input {
    margin-left: 10px;
    width: 300px;
    height: 20px;
    text-decoration: none;
    border: 0.5px solid #9e579d;
    border-radius: 3px;
}

strong {
    font-size: 14px;
}

.trashcan,
.edit {
    margin-top: 15px;
    color: red;
    font-size: large;
    float: right;
    cursor: pointer;
}

.edit {
    color: #9e579d;
    float: left;
}