.container .input-container input,
.container .textarea-container textarea {
    border: 1px solid #9e579d;
    border-radius: 3px;
    padding: 5px;
    font-family: Tahoma;
}

.container .input-container input {
    width: 200%;
    height: 30px;
}

.container .input-container .date {
    width: 228%;
}

.container .textarea-container textarea {
    width: 210%;
    height: 70px;
    resize: none;
}

